<!doctype html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8" />
    <title><%=Title%></title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.11.0/dist/phaser.js"></script>
    <script type="module"> import "https://unpkg.com/tone@14.7.77/build/Tone.js";</script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>